### TUPLE ###

In [5]:
t1 =(1,2,1,3,4,1)
t1.count(1)

3

In [6]:
t1.count(5)

0

In [7]:
t1.index(4)

4

In [9]:
sum(t1),max(t1),min(t1)

(12, 4, 1)

In [11]:
print(type(t1))
l1 =sorted(t1)
print(type(l1))

<class 'tuple'>
<class 'list'>

In [14]:
t2 =(34,'python',True,89.5)
print(t2)
print(t2[0])
print(t2[2::])

(34, 'python', True, 89.5)
34
(True, 89.5)

In [15]:
t3 = (3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

#### lists ####

In [16]:
#create a list of lists where each sublist consists 3 subject marks of the student
student_marks =[[9,7,4],[8,7,6],[5,10,10]]
print(student_marks)

[[9, 7, 4], [8, 7, 6], [5, 10, 10]]

In [5]:
a =[6,8,9]
a.append(sum(a))
print (a)

[6, 8, 9, 23]

In [6]:
aplus =[]
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 9, 10, 24]

In [7]:
print(a)

[6, 8, 9, 23]

In [8]:
list(range(len(a)))

[0, 1, 2, 3]

### dictionary ###

In [13]:
d = {'marks':56,'english':67,'physics':46}
d['marks']

56

In [14]:
# to access keys
print(d.keys())
#to access values
print(d.values())
# to access key value in pairs
print(d.items())

dict_keys(['marks', 'english', 'physics'])
dict_values([56, 67, 46])
dict_items([('marks', 56), ('english', 67), ('physics', 46)])

In [15]:
# to caluclate the sum of the values
sum(d.values())

169

In [18]:
# to remove an item 
d.pop('marks')
print(d)

{'english': 67, 'physics': 46}

In [20]:
d.update({'total':sum(d.values())})
print(d)

{'english': 67, 'physics': 46, 'total': 113}

In [21]:
std_marks ={'jk':[10,10,10],'nano':[9,9.5,9.75],'santu':[0,0,0]}
print(std_marks)

{'jk': [10, 10, 10], 'nano': [9, 9.5, 9.75], 'santu': [0, 0, 0]}

In [22]:
std_marks['jk']

[10, 10, 10]

In [24]:
for k,v in std_marks.item():
    std_marks[k].append{sum(v)}
print(std_marks)

SyntaxError: invalid syntax (<ipython-input-24-c4310d9eab9c>, line 2)